{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4"> Modification de l'employée </h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form(form) }}
        </div>



{% endblock %}